serverAi/preprocessing/openpose/model/body_pose_model.pth
serverAi/preprocessing/pytorch-openpose/model/body_pose_model.pth
serverAi/preprocessing/pytorch-openpose/notebooks
serverAi/preprocessing/__pycache__
serverAi/preprocessing/openpose/__pycache__
serverAi/preprocessing/openpose/model/
serverAi/checkpoints
serverAi/static/
serverAi/test/
frontend/node_modules
# serverAi/eval_models/
serverAi/eval_models/weights/v0.1/mtviton.pth
serverAi/eval_models/weights/v0.1/gen.pth

serverAi/__pycache__
serverAi/tensorboard/
serverAi/test_backup
serverAi/thhh
frontend/DS_Store
frontend/env.local
frontend/env.development.local
frontend/env.test.local
frontend/env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


serverAi/preprocessing/pytorch-openpose/hiddenlayer/
serverAi/preprocessing/pytorch-openpose/*.pth
serverAi/preprocessing/pytorch-openpose/*.caffemodel
serverAi/preprocessing/pytorch-openpose/idea/
serverAi/preprocessing/pytorch-openpose/.ipynb_checkpoints/
serverAi/preprocessing/pytorch-openpose/__pycache__
serverAi/preprocessing/pytorch-openpose/*.prototxt
serverAi/preprocessing/pytorch-openpose/videos/